body{
  background-color: #F4E9CD;
  background-size: cover;
  background-image: url(" https://www.wallpapers.net/web/wallpapers/download-lime-mint-water-cocktails-wallpaper-for-desktop-mobiles/3840x2160.jpg");
}
#landingpage{
  width: 100%;
  display: flex;
}
#Firstimage{
  margin-right: 100px;
}
#Firstimagecontainer{
  margin-left: 200px;
}
.buttons{
  display: flex;
    color: aliceblue;
    width: 100px;
    height: 50px;
    background-color: rgb(93, 129, 115);
    margin-top: 40px;
    flex-direction: row;
 }
 #Firstimage{
  margin-right: 800px;
 }
 #landingdetails{
  display: flex;
  flex-direction: column;
 }
 header{
   display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    color: #000000;
    background-color: #F4E9CD;
 }
 a{
  text-decoration: none;
  color: black;
  font-size: x-large;
 }
 #nameofstore{
  color: white;
  font-size: 100px;
  font-weight: 600px;
 }
 span{
  color: blue;

 }