body{
  background-color: #F4E9CD;
  background-size: cover;
}
#landingpage{
  width: 100%;
  display: flex;
}


.Firstimagecontainer{
  width: 700px;
  height: 100px;
  position: relative;
  margin: 0 auto;
  margin-left: 0px;
  margin-right: 100px;

}
.buttons{
  display: flex;
    color: aliceblue;
    width: 100px;
    height: 50px;
    background-color: rgb(93, 129, 115);
    margin-top: 40px;
    flex-direction: row;
 }
 #Firstimage{
  margin-right: 800px;
 }
 #landingdetails{
  display: flex;
  flex-direction: column;
 }
 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 100%;
    color: #000000;
    background-color: #F4E9CD;
 }
 a{
  text-decoration: none;
  color: black;
  font-size: x-large;
 }
 #nameofstore{
  color: white;
  font-size: 100px;
  font-weight: 600px;
 }
 span{
  color: rgb(5, 5, 240);
 }
 .slider{
  display: flex;
  aspect-ratio: 16/0;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%,0%,0.25);
  border-radius: 3rem; 
}
.slider img{
flex: 1 0 100%;
scroll-snap-align: start;
object-fit: cover;

}
.slidernav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slidernav a{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slidernav a:hover{
  opacity: 1;
}