body{
  background-color: #F4E9CD;
  background-size: cover;
}
#landingpage{
  width: 100%;
  display: flex;
}


.Firstimagecontainer{
  width: 500px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  margin-left: 200px;
 
  margin-bottom: 40px;
  

}
.buttons{
   display: flex;
    color: white;
    width: 300px;
    height: 50px;
    margin-top: 40px;
    flex-direction: row;
    margin-left: 30px;
 }
 .singlebuttons{
  justify-content: space-between;
  border-radius: 10px;
  color: white;
  background-color:green ;
  margin-left: 40px;
 }

 #landingdetails{
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-right: 0px;
 }
 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 100%;
    color: #000000;
    background-color: #F4E9CD;
 }
 a{
  text-decoration: none;
  color: black;
  font-size: x-large;
 }
 #nameofstore{
  color: rgb(0, 0, 0);
  font-size: 100px;
  font-weight: 600px;
 }
 span{
  color: rgb(5, 5, 240);
 }
 .slider{
  display: flex;
  aspect-ratio: 16/0;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%,0%,0.25);
  border-radius: 3rem; 
}
.slider img{
flex: 1 0 100%;
scroll-snap-align: start;
object-fit: cover;

}
.slidernav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slidernav a{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slidernav a:hover{
  opacity: 1;
}
#whatryoulookingfor{
  font-size: 40px;
  font-weight: 100;
  color: #000000;
}
#searchbutton{
  display: inline-block;
  border-radius: 4px;
  background-color: #3d405b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#search{
  width: 230px;
  height: 50px;
}
#searchedimg{
  display: flex;
  margin-top: 100px;
}
#searcheditem{
  margin-left: 100px;
  list-style-type: none;
}
#searcheditem img{
  height: 150px;
  width: 150px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s;
}
#searcheditem img:not(:last-child){
  margin-right: 10px;
}
#searchedimg:hover > :not(:hover){
  opacity: 0.2;
}
#alcoholicocktaill{
  display: flex;
  flex-wrap: wrap;
}
#Nonalcoholicocktail{
  display: flex;
  flex-wrap: wrap;
}

#nonalcoholcocktailist{
  list-style-type: none;
  margin-left: 100px;
}
#nonalcoholcocktailist img{
  height: 150px;
  width: 150px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

#alcoholiclisttem{
  margin-left: 50px;
  list-style-type: none;
}
#alcoholiclisttem img{
  height: 150px;
  width: 150px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s;
}
#alcoholiclisttem img:not(:last-child){
  margin-right: 10px;
}
#lcoholicocktaill:hover > :not(:hover){
  opacity: 0.2;
}
#alcoholcocktailheading{
  color: blue;
  font-size: 40px;
  font-weight: 100px;
  text-align: center;
}
#nonalcoholcocktailheading{
  color: blue;
  font-size: 40px;
  font-weight: 100px;
  text-align: center;
}
#nonalcoholcocktailist p{
  font-size: larger;
  color: #000000;
  font-weight: bolder;
}
